<app-top></app-top>
<div *ngIf="gameInProcess; else gameOver">
    <app-panel (closeGame)="closeGame($event)"></app-panel>
</div>
<ng-template #gameOver>
    <div *ngIf="closureType === 'derrota'; else gameOverVictory" class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: red">Fim de jogo, infelizmente você perdeu :s</h3>
                <button class="btn btn-primary" (click)="restartGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #gameOverVictory>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: green">Fim de jogo, você venceu :D</h3>
                <button class="btn btn-primary" (click)="restartGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>